<!-- MAIN CONTENT-->
<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div class="product-box">
          <a
            routerLink="/product-list"
            style="text-align: center; margin: 20px"
          >
            <img
              src="/assets/images/admin/product.png"
              class="img-responsive"
              width="300px"
              height="300px"
            />
            <h1>Product List</h1>
          </a>
          <a
            routerLink="/category-list"
            style="text-align: center; margin: 20px"
          >
            <img
              src="/assets/images/admin/category.png"
              class="img-responsive"
              width="300px"
              height="300px"
            />
            <h1>Category List</h1>
          </a>
          <a routerLink="/admin-list" style="text-align: center; margin: 20px">
            <img
              src="/assets/images/admin/admin.png"
              class="img-responsive"
              width="300px"
              height="300px"
            />
            <h1>Admins</h1>
          </a>
          <a routerLink="/user-list" style="text-align: center; margin: 20px">
            <img
              src="/assets/images/admin/user.png"
              class="img-responsive"
              width="300px"
              height="300px"
            />
            <h1>Users</h1>
          </a>
          <a routerLink="/city-list" style="text-align: center; margin: 20px">
            <img
              src="/assets/images/admin/city.png"
              class="img-responsive"
              width="300px"
              height="300px"
            />
            <h1>Cities</h1>
          </a>
          <a routerLink="/area-list" style="text-align: center; margin: 20px">
            <img
              src="/assets/images/admin/area.png"
              class="img-responsive"
              width="300px"
              height="300px"
            />
            <h1>Areas</h1>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
